<%= erb :'partials/_header' %>
<h1>Here are our artists!</h1>
  <ul>
  <% @artist.each do |artist| %>
  <li><h3><%=artist["id"]%> <%=artist["name"] %></h3>
  <a href="/artists/<%= artist.id %>">Info</a> // 
  <a href="/artists/<%= artist.id %>/edit">Edit</a> // 
  </li>
  <% end %>
  </ul>
<a href="/artists/new">Add a new artist!</a>
<%=erb :'partials/_footer'%>